h1	{
	color: red;
	text-align: center;}


h2	{color: green;}


b	{color: red; font-size: 20px;}
i	{color: blue; font-weight: bold;}

p	{font: 15px/30px Arial; width: 500px; text-align: justify;}
ul	{font-style: italic; color: red; width: 500px;}
ol	{color: red;}
