@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


body {
	background-color: #f1f1f1;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;;
}


.avatar {
	width: 200px;
	border-radius: 28px;
	box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.25) ;
}

.experience {
	width: 200px;
	border-radius: 28px;
	
}

.social {
	background-color: #40bf8f;
	padding: 15px;
	margin: 20px;
	border-radius: 15px;
	border: 5px solid #2655d9;
}

.container {
	max-width: 750px;
	min-width: 500px;
	margin: auto;

}

.bottom-space {
margin-bottom: 500px;
}

.bottom-space > div {
background: #000;
height: 200px;
}